
@{
    ViewData["Title"] = "DateAndTimes";
}

<div class="form-group schedule">
    <div class="row">
        <div class="col-md-5 col-xs-5">
            <label class="control-label">From:</label>
            <input class="form-control" type="datetime" />
        </div>
        <div class="col-md-5 col-xs-5">
            <label class="control-label">To:</label>
            <input class="form-control" type="datetime" />
        </div>
        <div class="col-md-2 col-xs-2">
            <input type="button" class="btn btn-danger removeBtn" value="Remove">
        </div>
    </div>
</div>
