@model ParkNGo.Models.UserProperty
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/js/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery.schedule.css">
<script src="~/js/jquery.schedule.js"></script>
<style>
    #schedule-section {
        height: 60vh;
    }
</style>
@{
    ViewData["Title"] = "Schedule";
}

<div id="registration-schedule" class="form-group">
    <h2>Schedule</h2>
    <hr />
    <span><strong>Note: </strong>Please set schedule by blocks then click on blocks to add price</span>
    <div id="schedule-section"></div>
    <br />
    @Html.HiddenFor(x => x.AvailabilityId)
    <br />
    <input type="button" class="btn btn-primary" id="add-sched-btn" value="Add Schedule">
    <input type="button" class="btn btn-danger" id="skip-sched-btn" value="Skip">
</div>

<script>
    var setDateAndTime = function () {
        var data = $('#schedule-section').jqs('export');
        $("#AvailabilityId").val(data);
    };
    $(document).ready(function () {
        $("#add-sched-btn").click(function () {
            setDateAndTime();
            $("#registration-schedule").hide();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: 'GetViewComponent',
                data: { 'view': 'Complete' },
                complete: function (data, textStatus, jqXHR) {
                    $("#registration-section").append(data.responseText);
                    $(".progress-bar-striped").css("width", "100%");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("fail");
                }
            })
        });
        $("#skip-sched-btn").click(function () {
            $("#registration-schedule").hide();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: 'GetViewComponent',
                data: { 'view': 'Complete' },
                complete: function (data, textStatus, jqXHR) {
                    $("#registration-section").append(data.responseText);
                    $(".progress-bar-striped").css("width", "100%");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("fail");
                }
            })
        });
        $("#schedule-section").jqs({
            mode: 'edit',
            periodBackgroundColor: "rgba(205, 234, 212, 0.8)",
            daysList: [
                'Mon',
                'Tues',
                'Wed',
                'Thur',
                'Fri',
                'Sat',
                'Sun'
            ],
            periodTitlePlaceholder: 'Set price in CAD'

        });
    });

</script>