@model ParkNGo.Models.User

<div class="container-fluid">
    <h2>Change Password</h2>
    <hr />
    <form method="post">
        @Html.HiddenFor(x => x.Username)
        <div class="form-group password-field">
            <label class="control-label">Password</label>
            <input name="p1" id="p1" type="password" class="form-control" />
            <label class="control-label">Confirm Password</label>
            <input name="p2" id="p2" type="password" class="form-control" />
            <span id="help-password" class="help-block"></span>
        </div>
        <br />
        <input type="submit" id="forget-submit"class="btn btn-primary" value="Change" disabled/>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#p1").keyup(function () {
            if ($(this).val() !== $("#p2").val()) {
                $(".password-field").addClass("has-error")
                $(".password-field").removeClass("has-success")
                $("#help-password").html("Password does not match!")
                $("#forget-submit").prop("disabled", true);
            } else {
                $(".password-field").removeClass("has-error")
                $(".password-field").addClass("has-success")
                $("#help-password").html("Password matches")
                $("#forget-submit").prop("disabled", false);
            }
        });
        $("#p2").keyup(function () {
            if ($(this).val() !== $("#p1").val()) {
                $(".password-field").addClass("has-error")
                $(".password-field").removeClass("has-success")
                $("#help-password").html("Password does not match!")
                $("#forget-submit").prop("disabled", true);
            } else {
                $(".password-field").removeClass("has-error")
                $(".password-field").addClass("has-success")
                $("#help-password").html("Password matches")
                $("#forget-submit").prop("disabled", false);
            }
        });
    });
</script>