
@{
    ViewData["Title"] = "Register";
}

<div id="registration-section" class="container-fluid">
    @await Component.InvokeAsync("Registration")
</div>
<hr />
<div class="container-fluid">
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>