@model ParkNGo.Models.User
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <form method="post" id="registration-section">
        @if (Model != null)
        {
            @await Component.InvokeAsync("Registration", new { username = Model.Username })
        }
        else
        {
            @await Component.InvokeAsync("Registration")
        }

    </form>
</div>
<hr />
<div class="container-fluid">
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>